{% if pageComponent.getPageComponentPages|length > 0 %}
	<ul class="admin-page-gallery-preview">
		{% for entry in pageComponent.getPageComponentPages %}
			<li>{{ entry.getPage.getTitle|default(entry.getPage.getPublicPath) }} <span class="admin-page-gallery-preview__template">({{ entry.getTemplate.getTitle }})</span></li>
		{% endfor %}
	</ul>
{% endif %}
