<!DOCTYPE html>
<html lang="cs">
	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ _page.title }}</title>

		<script src="https://cdn.tiny.cloud/1/e20azgvvzznqr9wr35zn4pjkyr7zqrj0klyaa9dq1nkm1zeg/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

	</head>
	<body>

		{% block body %}
		{% endblock body %}

	</body>
</html>
