{% extends "Templates/admin.twig" %}

{% block title %}Součást {{ pageComponent.getKind.getTitle }}{% endblock %}

{% block body %}

	<div class="admin-page">
		<div class="admin-page__header">
			<h1 class="admin-page__title">{{ pageComponent.getKind.getTitle }}</h1>
			<div class="admin-page__actions">
				<a class="admin-button admin-button--ghost" href="{{ url("admin.pages.viewPage", { pageId: pageComponent.getPage.getId }) }}">{% include "Blocks/adminIcon.twig" with { name: "arrow_back" } %} Zpět</a>
			</div>
		</div>

		{% if pageComponent.getKind.getCode in ["TEXT", "PAGE_GALLERY", "IMAGE_GALLERY", "GALLERY"] %}
			<form class="admin-form" action="" method="POST" enctype="multipart/form-data">
				{% include "Blocks/formHeader.twig" %}

				<div class="admin-panel admin-field">
					{% include "Blocks/adminComponentTemplate.twig" %}
					{% include "Admin/Pages/Components/Kinds/#{pageComponent.getKind.getCode}/edit.twig" %}
				</div>

				<div class="admin-form__footer">
					<button class="admin-button" type="submit">{% include "Blocks/adminIcon.twig" with { name: "save" } %} Uložit</button>
				</div>
			</form>
		{% else %}
			<div class="admin-panel admin-field">
				{% include "Admin/Pages/Components/Kinds/#{pageComponent.getKind.getCode}/edit.twig" %}
			</div>
		{% endif %}
	</div>

{% endblock body %}
