<a class="page-page-gallery__item page-page-gallery__item--text-only" href="{{ linkedPage.getPublicUrl }}">
	<span class="page-page-gallery__title">{{ linkedPage.getTitle|default(linkedPage.getPublicPath) }}</span>
</a>
