{% if pageComponent.getLinkedPages|length > 0 %}
	<div class="page-page-gallery">
		{% for linkedPage in pageComponent.getLinkedPages %}
			<a class="page-page-gallery__item" href="{{ linkedPage.getPublicUrl }}">
				{% set thumbnail = linkedPage.getStorageFiles.getFirst %}
				{% if thumbnail and thumbnail.getImage %}
					<img class="page-page-gallery__image" src="{{ thumbnail.getImage.getImageVersion("GALLERY").getURL }}" alt="">
				{% endif %}
				<span class="page-page-gallery__title">{{ linkedPage.getTitle|default(linkedPage.getPublicPath) }}</span>
			</a>
		{% endfor %}
	</div>
{% endif %}
