{% extends "Templates/default.twig" %}

{% block title %}{{ page.getTitle|default("Efemer") }}{% endblock %}

{% block body %}

	{% if page.getTitle %}
		<h1 class="a-title">{{ page.getTitle }}</h1>
	{% endif %}

	{% for pageComponent in page.getRootPageComponents %}
		<div class="page-component">
			{% include "Pages/Components/view.twig" with { pageComponent: pageComponent } %}
		</div>
	{% endfor %}

{% endblock body %}
