.admin-page-component-files {
	display: grid;
	gap: .25rem;
	grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		aspect-ratio: 1;
		overflow: hidden;
		width: 100%;
	}
}
