@import "../1-packages/gallery-grid.scss";

.page-page-gallery {
	@include gallery-grid;
	margin: 1rem 0;
}

.page-page-gallery__item {
	border-radius: .25rem;
	color: inherit;
	display: block;
	overflow: hidden;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.page-page-gallery__image {
	display: block;
	height: auto;
	width: 100%;
}

.page-page-gallery__images {
	display: grid;
	gap: .25rem;
	grid-template-columns: repeat(2, 1fr);
}

.page-page-gallery__item--image-gallery .page-page-gallery__image {
	aspect-ratio: 1;
	object-fit: cover;
}

.page-page-gallery__title {
	display: block;
	font-weight: 600;
	padding: .5rem 0 0;
}
