<ul class="admin-gallery-preview{% if pageComponent.getTemplate.getCode.getConstantFormat == "SQUARE" %} admin-gallery-preview--square{% else %} admin-gallery-preview--natural{% endif %}">
	{% for storageFile in pageComponent.getStorageFiles %}
		<li>
			{% if storageFile.getImage %}
				<img src="{{ storageFile.getImage.getImageVersion("THUMBNAIL").getURL }}" alt="">
			{% endif %}
		</li>
	{% endfor %}
</ul>
