{% extends "Templates/default.twig" %}

{% block body %}

	<table>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>
						{{ post.getId }}
					</td>
					<td>
						<a href="{{ url("posts.edit", { postId: post.getId }) }}">U</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock body %}
